<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="devices"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Device
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Device Name: {{device.name}}</h2>
          <h4 class="card-title">Device IP: {{device.ip}}</h4>
          <h4 class="card-title">Device Status: {{device.status}}</h4>
          <div class="row">
            <ion-button (click)="on(device)" id="turnOn" color="success">Turn On</ion-button>
            <ion-button (click)="off(device)" id="turnOff" color="danger">Turn Off</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
