<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" *ngIf="isAdmin"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Devices
    </ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add_device()" *ngIf="isAdmin">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
<div>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logout()" *ngIf="!isAdmin">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
<ion-content>
  <div class="alert alert-info" role="alert" *ngIf="size===0">
    No devices Registered
  </div>
  <div class="row" *ngFor="let d of devices">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Device Name: <b>{{d.name}}</b></h2>
          <h4 class="card-title">Device IP: <b>{{d.ip}}</b></h4>
          <h4 class="card-title">Device Status: <b>{{d.status}}</b></h4>
          <h4 class="card-title">Users Allowed: <b>{{d.role}}</b></h4>
          <ion-button (click)="connect(d)" size="large" expand="block" color="success">Connect
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
