<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      User Roles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Grid row -->
  <div class="row">
    <div padding>
      <form #f="ngForm">
        <div class="imgcontainer">
          <img src="../../../assets/img/rbac.png" alt="Avatar" class="avatar">
        </div>
        <table class="table table-striped">
          <tr *ngFor="let p of permissions;">
            <td>
              <p>{{p.title}}</p>
            </td>
            <td>
              <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="p.selected" />
            </td>
          </tr>
        </table>
        <div>
        </div>
        <ion-button (click)="updateGuestPermissions()" *ngIf="isGuest" expand="block" size="large">Update Guest
          Permissions
        </ion-button>
        <ion-button (click)="updateOwnerPermissions()" *ngIf="isOwner" expand="block" size="large">Update Owner Permissions
        </ion-button>
      </form>
    </div>
  </div>
  <!-- Grid row -->
</ion-content>
