<ion-header>
  <ion-toolbar>
    <ion-title>
      User Roles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="form-group">
      <ion-button color="primary" (click)="goBack()">Back</ion-button>
    </div>
  </div>
  <!-- Grid row -->
  <div class="row">
    <div padding>
      <form #f="ngForm">
        <table>
          <tr *ngFor="let p of permissions;">
            <td>
              <p>{{p.title}}</p>
            </td>
            <td>
              <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="p.selected" />
            </td>
          </tr>
        </table>
        <div>
        </div>
        <ion-button (click)="getSelectedPermissions()">Update Permissions</ion-button>
      </form>
    </div>
  </div>
  <!-- Grid row -->
</ion-content>
