<div class="container mt-5 pt-3">

</div>
<div class="row">
  <button>Add Device</button>
  <button>Add User</button>
</div>
<div class="container mt-5 pt-3">

</div>
<!-- Grid row -->
<div class="row">


  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-4">

    <!-- Card -->
    <div class="card card-ecommerce">

      <!-- Card image -->
      <div class="view overlay">

        <img src="assets/img/lights.jpg" class="img-fluid"
             alt="">

        <a>

          <div class="mask rgba-white-slight"></div>

        </a>

      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body">

        <!-- Category & Title -->
        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Lights</a></strong></h5>
        <h5 class="card-title mb-1">
          <strong>
            <a href="" class="dark-grey-text">Status: {{amount}}</a>
          </strong>
        </h5>
        <span class="badge badge-danger mb-2"></span>

        <!-- Rating -->
        <!--<ul class="rating">

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

  </ul>-->
        <!-- Card footer -->
        <div class="card-footer pb-0">
          <div class="row mb-0">
            <button (click)="goBuy()" class="primary">Connect</button>
          </div>
          <hr />
          <div class="row mb-0">
            <button (click)="goAccount()">Disconnect</button>
          </div>
        </div>
      </div>

      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-4">

    <!-- Card -->
    <div class="card card-ecommerce">

      <!-- Card image -->
      <div class="view overlay">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid"
             alt="">

        <a>

          <div class="mask rgba-white-slight"></div>

        </a>

      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body">
        zz

        <!-- Category & Title -->
        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">iPhone</a></strong></h5><span class="badge badge-info mb-2"></span>
        <h5 class="card-title mb-1">
          <strong>
            <a href="" class="dark-grey-text">Status: {{amount}}</a>
          </strong>
        </h5>
        <!-- Rating -->
        <!--<ul class="rating">

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

  </ul>-->
        <!-- Card footer -->
        <div class="card-footer pb-0">
          <div class="row mb-0">
            <button (click)="goBuy()" class="primary">Connect</button>
          </div>
          <hr />
          <div class="row mb-0">
            <button (click)="goAccount()">Disconnect</button>
          </div>
        </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-4">

    <!-- Card -->
    <div class="card card-ecommerce">

      <!-- Card image -->
      <div class="view overlay">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/3.jpg" class="img-fluid"
             alt="">

        <a>

          <div class="mask rgba-white-slight"></div>

        </a>

      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body">

        <!-- Category & Title -->
        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Mirror</a></strong></h5><span class="badge badge-danger mb-2"></span>
        <h5 class="card-title mb-1">
          <strong>
            <a href="" class="dark-grey-text">Status: {{amount}}</a>
          </strong>
        </h5>
        <!-- Rating -->
        <!--<ul class="rating">

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star blue-text"></i></li>

    <li><i class="fas fa-star grey-text"></i></li>

  </ul>-->
        <!-- Card footer -->
        <div class="card-footer pb-0">
          <div class="row mb-0">
            <button (click)="goBuy()" class="primary">Connect</button>
          </div>
          <hr />
          <div class="row mb-0">
            <button (click)="goAccount()">Disconnect</button>
          </div>
        </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
